package com.se7en.dao.${domainName}.impl;
import com.se7en.model.${domainName}.${className};
import org.springframework.stereotype.Repository;
import com.se7en.dao.EjbDao;
import com.se7en.dao.${domainName}.I${className}Dao;

/**
 * #if($prop.OwnedComments.size() == 1)$prop.OwnedComments.get(0).Body#end
 * database access obj 
 */
@Repository
public class ${className}Dao extends EjbDao<${className}> implements I${className}Dao {
	
}